# Base de datos
DATABASE_URL=postgresql://USER:PASSWORD@localhost:5435/DB_NAME

# JWT
JWT_SECRET=your-jwt-access-secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your-jwt-refresh-secret
JWT_REFRESH_EXPIRES_IN=7d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# App
PORT=5100
CLIENT_URL=http://localhost:3000
